SUPABASE_URL="https://supabase.com/dashboard/project/qwyhhxlsvcfbsycfdwem"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3eWhoeGxzdmNmYnN5Y2Zkd2VtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQ0NzE1MywiZXhwIjoyMDk3MDIzMTUzfQ.17q5J8ftln5eK_VXYMZPBsHjr6VIVmuB5lmDg7kFj-I"
JWT_SECRET="Curiouscatschasebrightmeteorsnow"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
