@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wc-blue: #0046AD;
  --wc-red: #E4002B;
  --wc-gold: #FFB81C;
}

body {
  @apply bg-wc-dark text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
